:root {
    --bg-l: #ffffff; /* background: light */
    --bg-d: #333333; /* background: dark */
    
    --ex-one: #5d89ce; /* exclusive color: blue`full */
    --ex-two: #1649aa; /* exclusive color: sea`full */
    --ex-three: #ce5dc0; /* exclusive color: pink`full */
    --ex-four: #a03092; /* exclusive color: violet`full */
}