@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --montserrat: 'Montserrat', sans-serif;
    --sans-code: 'Google Sans Code', monospace;
}