@import url(../../base.css);

* {
    font-family: var(--sans-code);
    box-sizing: border-box;
}

header {
    height: 10vh;
    min-height: 100px;
    max-height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 2000px;

    .header--body {
        height: 100%;
        width: 100%;
        background-color: var(--header-l);
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        padding: clamp(10px, 3vw, 30px);

        &--logo {
            img {
                height: 75px;
            }
        }

        &--nav {
            nav {
                ul {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: row;

                    li {
                        list-style: none;
                        margin: 10px;
                        font-size: clamp(16px, 3vw, 20px);

                        a {
                            font-weight: 500;
                            color: #fff;
                            text-decoration: none;
                            transition: all 0.3s ease;

                            &:hover {
                                color: var(--ex-six);
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
        }
    }
}

main {
    width: 100%;
    max-width: 2000px;
    height: 50vh;
    min-height: 400px;
    max-height: 700px;

    .main--body {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: start;
        align-items: start;
        flex-direction: column;
        padding: 20px;
        gap: 10px;

        &--header {
            max-width: 1200px;

            p {
                margin: 0px;
                font-weight: 900;
                font-size: var(--ts-title);
            }
        }

        &--content {
            border-left: 5px solid var(--ex-two);
            background-color: var(--ex-one);
            color: #fff;
            border-radius: var(--border-rad);
            padding: 20px 0px;
            max-width: 900px;

            p {
                margin: 10px;
                font-weight: 600;
                font-size: var(--ts-p);
            }
        }
    }
}