@import url('../../base.css');
@import url('../dashboard/index.css');

.right--center--panel {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    padding: 0 40px;

    .form-add {
        &--body {
            fieldset {
                input, textarea {
                    padding: 5px;
                    border-radius: 5px;
                    border: 1px solid #333;
                    background-color: #f9f9f9;
                    min-width: 500px;
                }

                textarea {
                    resize: vertical;
                    min-height: 100px;
                }
            }
        }
    }
}