@import url('../../base.css');

* {
    font-family: var(--sans-code);
    box-sizing: border-box;
    //border: var(--border); // for debug
}

html {
    height: 100vh;
    min-height: 1000px;
    width: 100%;
    min-width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    height: 100%;
    max-width: 3000px;

    main {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;

        .left {
            height: 100%;
            width: 200px;
            padding: 50px 0;
            background-color: var(--ex-five);
            border-radius: 0 var(--border-rad) var(--border-rad) 0;

            nav {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                button {
                    width: 100%;
                    padding: 40px 0;
                    border: 0;
                    background-color: var(--ex-five);
                    color: #fff;
                    border-top: 1px solid #fff;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    img {
                        margin-right: 20px;
                        height: 25px;
                    }

                    &:last-child {
                        border-bottom: 1px solid #fff;
                    }
                }
            }
        }

        .right {
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

            .right--top--panel {
                width: 100%;
                padding: 20px 20px 20px 20%;
                display: flex;
                justify-content: space-around;
                align-items: center;
                flex-direction: row;

                &--search {
                    input {
                        padding: 10px;
                        border-radius: 10px;
                        font-size: var(--ts-i);
                        border: var(--border);
                    }

                    button {
                        padding: 10px 30px;
                        background-color: var(--ex-three);
                        color: #fff;
                        border: var(--border);
                        border-radius: 10px;
                    }
                }
            }
        }
    }
}