@import url('../../../base.css');

* {
    font-family: var(--sans-code);
    box-sizing: border-box;
}

body {
    padding: 30px;

    .main {
        max-width: 600px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;

        &--header,
        &--errors {
            width: 100%;
            padding: 20px;
            border: var(--border);
            border-radius: var(--border-rad);
            color: #fff;
            box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.6);
        }

        &--header {
            background-color: var(--ex-three);
        }

        &--errors {
            font-size: var(--ts-b);
            background-color: var(--ex-eight);
        }

        &--body {
            width: 100%;
            padding: 20px;
            background-color: var(--ex-five);
            border: var(--border);
            border-radius: var(--border-rad);
            box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.6);

            .form {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                gap: 10px;

                &--field {
                    width: 100%;
                    padding: 20px 30px;
                    border: var(--border);
                    border-radius: var(--border-rad);
                    background-color: var(--ex-six);
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.6);

                    &--label {
                        display: flex;
                        align-items: center;
                        flex-direction: row;
                        gap: 20px;
                        color: #fff;
                        text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.6);

                        img {
                            height: 25px;
                            filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.6));
                        }

                        label {
                            font-size: var(--ts-p);
                        }
                    }

                    &--warring {
                        background-color: var(--ex-five);
                        border: var(--border);
                        border-radius: var(--border-rad);
                        padding: 10px;
                        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.6);

                        p {
                            color: #fff;
                            margin: 0;
                        }
                    }

                    &--input {
                        width: 100%;

                        input {
                            width: 100%;
                            padding: 10px;
                            border-radius: 10px;
                            font-size: var(--ts-i);
                            border: var(--border);
                            box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.6);
                            transition: all 0.5s ease;

                            &::placeholder {
                                font-style: italic;
                            }
                        }

                        #required::placeholder {
                            color: #fff;
                        }

                        #required:valid {
                            color: #fff;
                            background-color: var(--ex-one);
                        }

                        #required:invalid {
                            color: #fff;
                            background-color: var(--ex-three);
                        }
                    }
                }

                button {
                    cursor: pointer;
                    width: 100%;
                    padding: 30px 30px;
                    background-color: var(--ex-one);
                    color: #fff;
                    font-size: var(--ts-t);
                    border: var(--border);
                    border-radius: var(--border-rad);
                    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.6);
                    transition: all 0.3s ease;

                    &:hover {
                        background-color: var(--ex-three);
                    }
                }
            }
        }
    }
}